
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

*.log
*.swp
.idea/

build/
dist/
*.egg-info/
wheel/

asr_stats.json

*.aac
*.wav
*.pcm
utils/test-data/*
!utils/test-data/README.md
!utils/test-data/.gitkeep
